*{
    margin: 0;
    padding: 0;
  }
  body {
    color: #efefef;
    text-align: center;
    padding: 4em 0;
    background-color: #212123;
    font-family: Arial, Helvetica, sans-serif;
  }
  nav{
      position: fixed;
      width: 100%;
      padding: 0;
      top: 0;
   }
  .a{
      display: flex;
      height: 60px;
      background-color: #201c1b;
      color: #09aba0;
      padding: 10px;
      width: auto;
      
  }
  .c{
      padding-top: 15px;
      align-items: center;
      margin-left: 27%;
  }
  .d {
      display: flex;
      background-color: #09aba0;
      width: auto;
      justify-content: center;
      padding: 5px;
      gap: 30px; 
  }
  
  .d ul li a{
      color: #201c1b;
      text-decoration: none;
      
  }
  ul{
      display: flex;
      flex-direction: row;
      list-style: none;
  }
  .d ul{
      gap: 30px;
    }
    .d ul a:hover{
      color: white;
      transform: scale(1.1);
    }
    .aaaa{
        font-size: 30px;
      }
    .coming-soon-container {
        max-width: 600px;
        padding: 20px;
        margin-top: 50px;
        margin-left: 27.5%;
    }
    
    .t {
        font-size: 3rem;
        margin-bottom: 1rem;
      
    }
    
    p {
        font-size: 1.2rem;
        color: #ccc;
    }
    
    .motivational-message {
        font-size: 1.1rem;
        margin-top: 1rem;
        font-style: italic;
        color: #f0f0f0;
    }
@media (max-width:500px){
        .a{
            width:500px;
            height:60px;
            
        }
        .b{
            height:40px;
            
        }
        .aaaa{
            font-size: 20px;
        }
        .c{
            font-size: 15px;
            margin-left: 20px;
            margin-right: 0px;
            margin-bottom: 20px;
            flex-grow: inherit;
        }
        .coming-soon-container {
            margin-left: 1%;
        }
        .t {
            font-size: 1.8rem;
        }
    
        p {
            font-size: 0.9rem;
        }
    
        .motivational-message {
            font-size: 0.8rem;
        }

}   
